<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
	<div class="container">
		<form name="insertForm" th:action="@{/bookInsert}" method="post" th:object="${book}">
			<h3>도서 등록</h3>
			<table id="form" class="table">
				<tr>
					<th>도서번호</th>
					<td><input type="text" th:field="*{bookNo}" readonly></td>
					<!-- <td><input type="text" id="bookNo" name="bookNo" th:value="${book.bookNo}" readonly></td> -->
				</tr>
				<tr>
					<th>도서명</th>
					<td><input type="text" th:field="*{bookName}"></td>
				</tr>
				<tr>
					<th>도서표지</th>
					<td><input type="text" th:field="*{bookCoverimg}"></td>
				</tr>
				<tr>
					<th>출판일자</th>	<!-- type을 date로 사용할 경우 날짜 포맷을 바꿔야한다. -->
					<td><input type="date" th:field="*{bookDate}"></td>
				</tr>
				<tr>
					<th>금액</th>
					<td><input type="text" th:field="*{bookPrice}"></td>
				</tr>
				<tr>
					<th>출판사</th>
					<td><input type="text" th:field="*{bookPublisher}"></td>
				</tr>
				<tr>
					<th>도서소개</th>
					<td><textarea cols="50" th:field="*{bookInfo}"></textarea></td>
				</tr>
			</table>
			<div>
				<button type="submit">등록</button>
				<button type="button">조회</button>
			</div>
		</form>
	</div>
	<script>
		document.querySelector('form[name="insertForm"]')
				.addEventListener('submit', bookInsert);

		function bookInsert(event) {
			event.preventDefault();
			
			let name = document.getElementById('bookName');
			if(name.value == '') {
				alert('도서명이 입력되지 않았습니다.');
				name.focus();
				return;
			}
			alert('도서등록이 완료되었습니다.')
			insertForm.submit();
		}		
	</script>
</html>