<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
	
	<div class="container">
		<h3>도서 조회/수정</h3>
		<table class="table">
			<thead>
				<tr>
					<th>도서번호</th>
					<th>도서명</th>
					<th>표지</th>
					<th>출판일자</th>
					<th>금액</th>
					<th>출판사</th>
					<th>도서소개</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="info : ${books}">
					<td>[[ ${info.bookNo} ]]</td>
					<td>[[ ${info.bookName} ]]</td>
					<td><img style="width : 30%;" th:src="@{/images/{fileName}(fileName=${info.bookCoverimg})}"></td>
					<td>[[ ${#dates.format(info.bookDate, "yyyy/MM/dd")} ]]</td>
					<td>[[ ${#numbers.formatInteger(info.bookPrice, 3, 'COMMA')} ]]</td>
					<td>[[ ${info.bookPublisher} ]]</td>
					<td>[[ ${info.bookInfo} ]]</td>
				</tr>
			</tbody>
		</table>
	</div>
</html>