<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>대여현황조회</title>
</head>
<body>
	<p align="center">도서별 대여매출현황</p>
	<table border="1" align="center">
		<thead align="center">
			<tr >
				<th>도서번호</th>
				<th>도서명</th>
				<th>대여총계</th>
				<th>대여횟수</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="rentInfo, idxStat : ${rent}">
				<tr th:id="${idxStat.count}" 
					th:onclick="|location.href='@{/rentInfo(bookNo=${rentInfo.bookNo})}'|">
					<td align="center" th:text="${rentInfo.bookNo}"></td>
					<td >[[ ${rentInfo.bookName} ]]</td>
					<td>[[ ${rentInfo.rentTotalPrice} ]]</td>
					<td>[[ ${rentInfo.rentCount} ]]</td>
				</tr>
			</th:block>
		</tbody>
	</table>
</body>
</html>